apturl
argcomplete
blinker
Brlapi
chardet
colorama
command-not-found
crewai-tools
cupshelpers
dbus-python
defer
dell-recovery
distro-info
dockerpty
docopt
duplicity
Faker
fastapi
fasteners
future
gyp
httptools
jeepney
langchain-groq
language-selector
launchpadlib
litellm
lockfile
louis
macaroonbakery
Mako
monotonic
more-itertools
netifaces
olefile
paramiko
pip
psycopg2-binary
ptyprocess
pycups
PyGObject
pymacaroons
pymongo
PyNaCl
pyRFC3339
pyrsistent
PySocks
python-apt
python-debian
pytz
pyxdg
reportlab
robotframework-appiumlibrary
robotframework-browser
robotframework-jsonlibrary
robotframework-requests
robotframework-seleniumlibrary
sdkmanager
SecretStorage
systemd-python
texttable
ubuntu-drivers-common
ubuntu-pro-client
ufw
unattended-upgrades
usb-creator
uvloop
wadllib
watchfiles
websockets
wheel
xdg
xkit