name: Run Tests

on:
  push:
    branches: ["**"]

jobs:
  test:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v4

      - name: Set up Python 3.10.12
        uses: actions/setup-python@v5
        with:
          python-version: "3.10.12"

      - name: Install dependencies
        run: |
          pip install -r rest_api/requirements.txt

      - name: Run tests
        run: |
          cd rest_api
          python -m pytest tests/